// Color Palette
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// Component Colors
$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: 0.7;
$disabled-opacity: 0.5;
$background-color: $gray-1;
$background-color-light: #fafafa;
$text-link-color: #576b95;

// Border
$border-color: $gray-3;
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-max: 999px;

// Font
$font-size-base: 16px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 32px; // change
$font-weight-bold: 500;
$line-height-xs: 14px;
$line-height-sm: 18px;
$line-height-md: 20px;
$line-height-lg: 22px;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
  'Microsoft Yahei', sans-serif;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial,
  sans-serif;

// Button
$button-mini-height: 24px;
$button-mini-font-size: $font-size-xs;
$button-small-height: 32px;
$button-small-font-size: $font-size-sm;
$button-normal-font-size: $font-size-md;
$button-large-height: 50px;
$button-default-height: 44px;
$button-default-line-height: 1.2;
$button-default-font-size: $font-size-lg;
$button-default-color: $text-color;
$button-default-background-color: $white;
$button-default-border-color: $border-color;
$button-primary-color: $white;
$button-primary-background-color: $green;
$button-primary-border-color: $green;
$button-info-color: $white;
$button-info-background-color: $blue;
$button-info-border-color: $blue;
$button-danger-color: $white;
$button-danger-background-color: $red;
$button-danger-border-color: $red;
$button-warning-color: $white;
$button-warning-background-color: $orange;
$button-warning-border-color: $orange;
$button-border-width: $border-width-base;
$button-border-radius: $border-radius-sm;
$button-round-border-radius: $border-radius-max;
$button-plain-background-color: $white;
$button-disabled-opacity: $disabled-opacity;

$title-color: #2d2d2d;
$dark-color: #dadada;

@mixin cell-border {
  background-image: linear-gradient(
    rgba($dark-color, 0.5),
    rgba($dark-color, 0.5)
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

// Notify
$notify-text-color: #fff;
$notify-padding: 8px 16px;
$notify-font-size: $font-size-base;
$notify-line-height: 20px;
$notify-primary-background-color: #1989fa;
$notify-success-background-color: #07c160;
$notify-danger-background-color: #ee0a24;
$notify-warning-background-color: #ff6600;

// IOS底部安全距离兼容
// 兼容通过padding-bottom设置，
// 当指定height且box-sizing不为content-box时计算高度
// $height: 高度
// $paddingBottom: 底部padding
// $boxSizing: 盒模型,默认content-box
@mixin safe-area-bottom(
  $height: 0,
  $paddingBottom: 0,
  $boxSizing: content-box
) {
  //底部安全距离
  $safeArea: 0;
  //兼容 IOS<11.2
  @supports (bottom: constant(safe-area-inset-bottom)) {
    $safeArea: constant(safe-area-inset-bottom);
  }
  //兼容 IOS>11.2
  @supports (bottom: env(safe-area-inset-bottom)) {
    $safeArea: env(safe-area-inset-bottom);
  }
  //存在安全距离常量
  @if $safeArea {
    //0不能参与calc计算
    @if $paddingBottom != 0 {
      padding-bottom: calc(#{$paddingBottom} + #{$safeArea});
    } @else {
      padding-bottom: $safeArea;
    }
    box-sizing: $boxSizing;
    @if $height != 0 {
      height: $height;
      //box-sing为content-box时不用计算高度
      @if $boxSizing != content-box {
        height: calc(#{$height} + #{$safeArea});
      }
    }
  }
}

// 反色
.gray-filter {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

// 1px 像素

@mixin hairline($color: #eee) {
  border: 1px solid $color;
}

@mixin hairline-top($color: #eee) {
  border-top: 1px solid $color;
}

@mixin hairline-bottom($color: #eee) {
  border-bottom: 1px solid $color;
}
